<div style="text-align:center;">

  <h2>
    {{a+b}}
  </h2>
  
  <hr>
  
  <button [disabled]="!listo" (click)="hacerAlgo()">click me!</button>
  
  <hr>
  
  <input type="text" placeholder="tu nombre" [(ngModel)]="nombre">
  <input type="text" placeholder="tus apellidos" [(ngModel)]="apellidos">
  <br>
  Mi nombre es: {{nombre + ' ' + apellidos}}

</div>